header {
    position: relative;
    background: silver;
    width: 100%;
    height: 30px;
}
header ul.navigations{
    float: right;
    list-style: none;
}
header ul.navigations li {
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}
header .logotype {
    cursor: pointer;
}
header .nav {
    padding-top: 3px;

}
footer {
    text-align: center;
    background: silver;
    margin-top: 100px;
}

.img_product {
    width: 200px;
    height: 200px;
}
.title_product{
    text-align: center;
}

.card_product {
    width: 200px;
    height: 200px;
}
.price_product {
    font-weight: bold;
    text-align: center;
}

